{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans 'Orpheus' %} - {% block head_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'orpheus/img/favicon.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/roboto-condensed-font/css/font.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/pure-css-0.6.0/pure-nr.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/pure-css-0.6.0/grids-responsive.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/lobibox/css/lobibox.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/pace/pace.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'orpheus/css/master.css' %}" />
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="orpheus-container">
            <div class="orpheus-header">
                <div class="orpheus-navbar">
                    <div class="custom-wrapper pure-g" id="menu">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-menu">
                                <div class="pure-u-1 pure-u-md-1-3">
                                    <a href="{% url 'videos:index' %}" class="pure-menu-heading custom-brand">
                                        <img class="orpheus-logo" src="{% static 'orpheus/img/orpheus-logo.png' %}">
                                    </a>
                                </div>
                                <div id="toggle" class="custom-toggle">
                                    <s class="bar"></s>
                                    <s class="bar"></s>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-menu pure-menu-horizontal custom-can-transform orpheus-navbar-center">
                                <ul class="pure-menu-list">
                                    <li class="pure-menu-item {% block orpheus-navbar-videos %}{% endblock %}">
                                        <a class="pure-menu-link" href="{% url 'videos:index' %}">{% trans 'Videos' %}</a>
                                    </li>
                                    <li class="pure-menu-item {% block orpheus-navbar-music %}{% endblock %}">
                                        <a class="pure-menu-link" href="{% url 'music:index' %}">{% trans 'Music' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
                                <ul class="pure-menu-list">
                                    {% if user.is_authenticated %}
                                        <li class="pure-menu-item {% block orpheus-navbar-profile %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_profile' user.username %}">{{ user.full_name }}</a>
                                        </li>
                                        <li class="pure-menu-item {% block orpheus-navbar-logout %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>
                                        </li>
                                    {% else %}
                                        <li class="pure-menu-item {% block orpheus-navbar-login %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_login' %}">{% trans 'Sign In' %}</a>
                                        </li>
                                        <li class="pure-menu-item {% block orpheus-navbar-signup %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orpheus-content">
                {% block body %}{% endblock %}
            </div>
            <div class="orpheus-footer">
                <div class="orpheus-footer-top">
                    <div class="orpheus-language-selection">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            {% with language.code as code %}
                                 <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <input type="hidden" name="language" value="{{ code }}" />
                                    <input type="image" src="{% static 'orpheus/img/'|add:code|add:'.png' %}" title="{{ language.name }}" />
                                 </form>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="orpheus-footer-bottom">
                    {% trans "Design and programming by" %}&nbsp;Dejan Knežević
                </div>
            </div>
            <script src="{% static 'orpheus/js/jquery-3.1.0.min.js' %}"></script>
            <script src="{% static 'orpheus/js/jquery.form.js' %}"></script>
            <script src="{% static 'orpheus/addons/js-cookie/js.cookie.js' %}"></script>
            <script src="{% static 'orpheus/addons/lobibox/js/lobibox.js' %}"></script>
            <script src="{% static 'orpheus/addons/lobibox/js/messageboxes.js' %}"></script>
            <script src="{% static 'orpheus/addons/lobibox/js/notifications.js' %}"></script>
            <script src="{% static 'orpheus/addons/pace/pace.min.js' %}"></script>
            <script src="{% static 'orpheus/addons/jquery-validation/jquery.validate.js' %}"></script>
            <script src="{% static 'orpheus/js/csrf.js' %}"></script>
            <script src="{% static 'orpheus/js/navbar.js' %}"></script>
            {% include 'orpheus/validation-initialization.html' with LANGUAGE_CODE=LANGUAGE_CODE %}
            {% if request.user.is_authenticated %}
                {% include 'orpheus/upload-progress-initialization.html' %}
            {% endif %}
            {% include 'orpheus/file-field-fix.html' %}
            {% include 'orpheus/message-initialization.html' %}
            {% block js %}{% endblock %}
        </div>
    </body>
</html>
