{% load staticfiles %}
{% if LANGUAGE_CODE == 'sr-latn' %}
    <script src="{% static 'orpheus/addons/jquery-validation/localization/messages_sr_lat.js' %}"></script>
{% endif %}
<script>
    $('.validated-form').validate();
</script>
