{% extends "music/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans 'Album' %}{% endblock %}

{% block page_body %}
    <form action="" method="post" enctype="multipart/form-data" class="pure-form pure-form-stacked validated-form">
        {% csrf_token %}
        {% include 'orpheus/form-template.html' %}
        <button class="pure-button" type="submit">{% trans 'Submit' %}</button>
    </form>
{% endblock %}
