{% for album in all_albums %}
    <div class="orpheus-media-block orpheus-album-block">
        <a href="{% url 'music:listen' album.id %}">
            <img src="{{ album.thumbnail_url }}" class="orpheus-media-block-thumbnail orpheus-album-block-thumbnail">
            <b>{{ album.title }}</b>
        </a>
        <br>
        <a href="{% url 'account_profile' album.user %}"><i>{{ album.user.full_name }}</i></a>
    </div>
{% endfor %}
