{% extends "music/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{{ album.title }}{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'orpheus/addons/player/mediaelementplayer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'orpheus/addons/comments/jquery-comments.css' %}" />
    <link rel="stylesheet" href="{% static 'music/css/listen.css' %}" />
{% endblock %}

{% block page_js %}
    <script src="{% static 'orpheus/addons/player/mediaelement-and-player.js' %}"></script>
    {% with album as media %}
        {% include 'media_common/voting-initialization.html' %}
        {% include 'media_common/comments-initialization.html' %}
        {% include 'music/music-player-initialization.html' with album=album%}
    {% endwith %}
    <script src="{% static 'music/js/watch.js' %}"></script>
{% endblock %}

{% block page_body %}
    <h1>{{ album.title }}</h1>
    {% if album.user == user or user.is_staff %}
        <a href="{% url 'music:edit-album' album.id %}"><button class="pure-button">{% trans 'Edit album' %}</button></a>
        <a href="{% url 'music:delete-album' album.id %}"><button class="pure-button">{% trans 'Delete album' %}</button></a>
        <br><br><br>
    {% endif %}

    {% if album.user == user %}
        <a href="{% url 'music:add-song' album_id=album.id %}"><button class="pure-button">{% trans 'Add songs' %}</button></a><br><br>
    {% endif %}

    <ul class="orpheus-album-playlist-container">
        {% for song in album.song_set.all|dictsort:"track_number" %}
            <li class="song-link" data-track-number="{{ song.track_number }}" data-url="{{ song.source.url }}">
                <span class="orpheus-album-song-link">{{ song.track_number }}.&nbsp;{{ song.title }}</span>
                {% if album.user == user or user.is_staff %}
                    <div class="orpheus-album-media-controls">
                        <a href="{% url 'music:edit-song' song.id %}"><button class="pure-button">{% trans 'Edit' %}</button></a>
                        <a href="{% url 'music:delete-song' song.id %}"><button class="pure-button">{% trans 'Delete' %}</button></a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if album.song_set.count > 0 %}
        <audio id="player" controls="controls" style="width:100%;" >
            <source id="player-source" src="{{ album.song_set.first.source.url }}" type="audio/mp3">
            <p>{% blocktrans %}Your browser does not support this audio.{% endblocktrans %}</p>
        </audio>
    {% endif %}
    {% url 'music:search' as search_url %}
    {% include 'media_common/media_info_box.html' with media=album search_url=search_url %}
    <div id="orpheus-comments-container"></div>
{% endblock %}
