{% extends "music/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Music search" %}{% endblock %}

{% block page_css %}
{% endblock %}

{% block page_js %}
{% endblock %}

{% block page_body %}
    <h3>{% blocktrans %}Results for {% endblocktrans %}"{{ request.GET.query }}":</h3>
    {% include 'media_common/pagination.html' %}
    <div class="orpheus-media-block-container">
        {% include 'music/album-list.html' with all_albums=results %}
    </div>
    {% if results.count == 0 %}
        <p>{% blocktrans %}No albums found.{% endblocktrans %}</p>
    {% endif %}
    {% include 'media_common/pagination.html' %}
{% endblock %}
