{% extends "orpheus/master.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans 'Statistics' %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'orpheus/addons/datatables/datatables.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stats/css/base.css' %}" />
    {% block page_css %}{% endblock %}
{% endblock %}


{% block js%}
    <script src="{% static 'orpheus/addons/datatables/datatables.min.js' %}"></script>
    {% block page_js %}{% endblock %}
{% endblock %}
