{% extends "stats/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans 'Statistics' %} - {{ media_detail.title }}{% endblock %}

{% block page_css %}
{% endblock %}

{% block page_js %}
    <script>
        var table_element = '.geolocation-table'
    </script>
    {% include 'stats/datatable-initialization.html' %}
{% endblock %}

{% block body %}
    <a href="{% url 'stats:index' user.username %}"><button class="pure-button">{% trans 'Back to statistics' %}</button></a>
    <br><br><br>
    <h2>{{ media_detail.title }}</h2>
    <p>{{ media_detail.created | date:"d-M-Y, H:m"}}</p>
    <p>{% trans "Total views" %}: {{ media_detail.view_count }}</p>
    <p>{% trans "Total upvotes" %}: {{ media_detail.upvote_count }}</p>
    <p>{% trans "Total downvotes" %}: {{ media_detail.downvote_count }}</p>
    <p>{% trans "Total comments" %}: {{ media_detail.comment_count }}</p>
    <br><br>
    <h2>{% trans 'Views by location' %}</h2>
    <div class="datatable-container">
        {% include "stats/geolocation-table.html" with geolocation=media_detail.geolocation %}
    </div>
    <br><br>
    <p>
        {% blocktrans %}This product includes GeoLite2 data created by MaxMind, available from{% endblocktrans %}
        <a href="http://www.maxmind.com">www.maxmind.com</a>.
    </p>
{% endblock %}
