{% load i18n %}
<div>
    <div>
        <table class="geolocation-table display" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Location' %}</th>
                    <th>{% trans 'Views' %}</th>
                </tr>
            <thead>
            <tbody>
                {% for location in geolocation %}
                    <tr>
                        <td></td>
                        <td class="dt-center">{{forloop.counter}}</td>
                        <td>{{ location.country_name }}</td>
                        <td class="dt-center">{{ location.view_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
