{% extends "stats/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_css %}
{% endblock %}

{% block page_js %}
    <script>
        var table_element = '.media-table'
    </script>
    {% include 'stats/datatable-initialization.html' %}
{% endblock %}

{% block body %}
    <div class="datatable-container">
        <h2>{% trans 'Video statistics' %}</h2>
        {% include "stats/media-table.html" with media_stats=media_stats.videos %}
    </div>
    <br><br><br><br>
    <div class="datatable-container">
        <h2>{% trans 'Album statistics' %}</h2>
        {% include "stats/media-table.html" with media_stats=media_stats.music %}
    </div>
{% endblock %}
