{% load i18n %}
<div>
    <div>
        <table class="media-table display" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Created' %}</th>
                    <th>{% trans 'Views' %}</th>
                    <th>{% trans 'Upvotes' %}</th>
                    <th>{% trans 'Downvotes' %}</th>
                    <th>{% trans 'Comments' %}</th>
                </tr>
            <thead>
            <tbody>
                {% for media in media_stats %}
                    <tr>
                        <td></td>
                        <td class="dt-center">{{forloop.counter}}</td>
                        <td><a href="{% url 'stats:detail' username media.id %}">{{ media.title }}</a></td>
                        <td class="dt-center">{{ media.created | date:"d-M-Y, H:m"}}</td>
                        <td class="dt-center">{{ media.view_count }}</td>
                        <td class="dt-center">{{ media.upvote_count }}</td>
                        <td class="dt-center">{{ media.downvote_count }}</td>
                        <td class="dt-center">{{ media.comment_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
