* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.orpheus-container {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.orpheus-header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 0.3em;
    z-index: 2;
}

.orpheus-logo {
    max-width: 8em;
    margin-top: -4px;
}

.orpheus-content {
    padding: 6em 0.5em 10em 0.5em;
    max-width: 60em;
    margin: 0 auto;
}

.orpheus-footer {
    border-top: 1px solid lightgray;
    position: absolute;
    width: 100%;
    height: 8em;
    bottom: 0;
}

.orpheus-language-selection > form {
    width: 3em;
    display: inline;
}

.orpheus-language-selection > form > input[type='image'] {
    padding: 0 0.2em 0 0.2em !important;
}

.orpheus-footer-bottom {
    color: darkslategray;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.orpheus-footer-top {
    color: darkslategray;
    padding: 2em 1em 0 1em;
    width: 100%;
    text-align: center;
}

.orpheus-language-button {
    border: none;
    background-color: transparent;
}

.orpheus-media-block-container {
    display: table;
    margin: 0 auto;
}

.orpheus-media-block {
    display: block;
    padding-bottom: 1em;
}

.orpheus-media-block-thumbnail {
    display: block;
    width: 16em;
    height: 9em;
}

.orpheus-video-block-thumbnail {
    height: 9em;
}

.orpheus-album-block-thumbnail {
    height: 12em;
}


/*Two media blocks*/
@media only screen and (min-width: 40em) {
    .orpheus-media-block-container {
        width: 40em;
    }

    .orpheus-media-block {
        width: 50%;
        display: inline;
        padding: 1em;
        float: left;
    }
}

/*Three media blocks*/
@media only screen and (min-width: 55em) {
    .orpheus-media-block-container {
        width: 55em;
    }
    .orpheus-media-block {
        display: inline;
        width: 33.33%;
        padding: 1em;
        float: left;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

/***************Textarea width***************/
.pure-control-group textarea,
.pure-control-group input {
    width: 100%;
}

@media only screen and (min-width: 30em) {
    .pure-control-group textarea,
    .pure-control-group input {
        width: 28em;
    }
}

/********************Menu*******************/

.orpheus-navbar {
    border-bottom: 1px solid lightgray;
}

.pure-menu-link:hover {
    color: dodgerblue !important;
}

.pure-menu-link, .pure-menu-heading {
    margin-top: 0.2em !important;
    color: black !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

.custom-brand {
    padding-left: 0.8em;
}

.custom-toggle {
    cursor: pointer;
}

.orpheus-navbar-selected > a {
    color: dodgerblue !important;
}

.orpheus-navbar-center {
    text-align: center;
}

.custom-wrapper {
    background-color: transparent;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 12em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0.7em;
    right: 0.4em;
    display: none;
}

.custom-toggle .bar {
    background-color: gray;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .orpheus-navbar-center {
        text-align: left;
    }

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }
}
/**********************************/

.errorlist {
    list-style: none;
    padding-left:0;
    color: red;
}

.error {
    color: red !important;
}

.orpheus-file-upload {
    position: relative;
    overflow: hidden;
}

.orpheus-file-upload input.orpheus-file-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.orpheus-upload-filename {
    display: inline;
    margin-left: 0.5em;
}

.orpheus-file-upload-container {
    margin-bottom: 0.5em;
}

.orpheus-site-error {
    font-size: 2em;
    display: table;
    margin: 3em auto 0 auto;
}

/********************Lobibox overrides**********************/

.lobibox-progress-fix {
    position: fixed !important;
    left: 0.25em !important;
    top: calc(50% - 3.2em) !important;
    width: calc(100% - 0.5em) !important;
}

@media (min-width: 31.25em) {
    .lobibox-progress-fix {
        left: calc(50% - 250px) !important;
        max-width: 31.25em;
    }
}

.lobibox.lobibox-progress .lobibox-header, .lobibox-progress-element {
    background-color: dodgerblue !important;
    border-radius: 0 !important;
}

.lobibox-progress-outer {
    border-radius: 0 !important;
}

.lobibox .lobibox-progress .lobibox-body .lobibox-progress-bar-wrapper .lobibox-progress-text {
    max-width: 60em !important;
}

.helptext {
    color: gray;
    font-size: 0.8em;
}
