{% extends "accounts/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock %}

{% block accounts_js %}
    {% include 'orpheus/message-initialization.html' with messages=form.non_field_errors %}
{% endblock %}

{% block orpheus-navbar-login %}orpheus-navbar-selected{% endblock %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p>
            {% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}
        </p>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}" class="login pure-form pure-form-stacked validated-form">
    {% csrf_token %}
        <formfields>
            {% include 'accounts/accounts-form.html' %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
            <br><br>
            <button class="primaryAction pure-button" type="submit">{% trans "Sign In" %}</button>
        </formfields>
    </form>
{% endblock %}
