{% extends "accounts/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block orpheus-navbar-profile %}orpheus-navbar-selected{% endblock %}

{% block content %}
    <div class="orpheus-profile-fullname">{{ orpheus_user.full_name }}</div>
    <div class="orpheus-profile-username">{{ orpheus_user.username }}</div>
    <div class="orpheus-profile-info">
        <div class="orpheus-profile-picture">
            <img src="{{ orpheus_user.profile_picture_url }}" alt="avatar">
        </div>
        {% if user.is_authenticated and orpheus_user == user or user.is_staff %}
            <div class="orpheus-profile-edit-controls">
                <a href="{% url 'account_edit' orpheus_user.username %}"><button class="pure-button">{% trans 'Change account info' %}</button></a><br><br>
                <a href="{% url 'account_email' %}"><button class="pure-button">{% trans 'Change E-mail' %}</button></a><br><br>
                <a href="{% url 'account_change_password' %}"><button class="pure-button">{% trans 'Change password' %}</button></a><br><br>
                <a href="{% url 'stats:index' orpheus_user.username %}"><button class="pure-button">{% trans 'Statistics' %}</button></a><br><br>
            </div>
        {% endif %}
    </div>
    <h3>{% trans 'Videos' %}</h3>
    {% if orpheus_user.username == user.username or user.is_staff %}
        <a href="{% url 'videos:add' %}"><button class="pure-button">{% trans 'Add' %}</button></a><br><br>
    {% endif %}

    <div class="orpheus-media-block-container">
        {% for video in user_videos %}
            <div class="orpheus-media-block orpheus-video-block">
                <a href="{% url 'videos:watch' video.id %}">
                    <img src="{{ video.thumbnail_url }}" class="orpheus-media-block-thumbnail orpheus-video-block-thumbnail">
                    {{ video.title }}
                </a>
                {% if orpheus_user.username == user.username or user.is_staff %}
                    <br>
                    <div class="orpheus-profile-media-controls">
                        <a href="{% url 'videos:edit' video.id %}"><button class="pure-button">{% trans 'Edit' %}</button></a>
                        <a href="{% url 'videos:delete' video.id %}"><button class="pure-button">{% trans 'Delete' %}</button></a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h3>{% trans 'Albums' %}</h3>
    {% if orpheus_user.username == user.username or user.is_staff %}
        <a href="{% url 'music:add-album' %}"><button class="pure-button">{% trans 'Add' %}</button></a><br><br>
    {% endif %}
    <div class="orpheus-media-block-container">
        {% for album in user_albums %}
            <div class="orpheus-media-block orpheus-album-block">
                <a href="{% url 'music:listen' album.id %}">
                    <img src="{{ album.thumbnail_url }}" class="orpheus-media-block-thumbnail orpheus-album-block-thumbnail">
                    {{ album.title }}
                </a>
               {% if orpheus_user.username == user.username or user.is_staff %}
                   <br>
                   <div class="orpheus-profile-media-controls">
                       <a href="{% url 'music:edit-album' album.id %}"><button class="pure-button">{% trans 'Edit' %}</button></a>
                       <a href="{% url 'music:delete-album' album.id %}"><button class="pure-button">{% trans 'Delete' %}</button></a>
                   </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
