{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block orpheus-navbar-signup %}orpheus-navbar-selected{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup pure-form pure-form-stacked validated-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% include 'accounts/accounts-form.html' %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="pure-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
