{% extends "orpheus/master.html" %}
{% load staticfiles %}
{% load i18n %}


{% block css %}
    <link rel="stylesheet" href="{% static 'media_common/css/base-common.css' %}" />
    {% block media_css %}{% endblock %}
{% endblock %}

{% block js%}
    <script src="{% static 'media_common/js/search-form-validation.js' %}"></script>
    {% block media_js %}{% endblock %}
{% endblock %}

{% block body %}
    <form role="search" method="get" action="{% block search_action %}{% endblock %}" class="pure-form">
        <div class="orpheus-search-form">
            <input class="orpheus-search-bar" title="Search" type="text" name="query" value="{{ request.GET.query }}"/>
            <button class="pure-button" type="submit">{% trans 'Search' %}</button>
        </div>
    </form>
    {% block media_common_body %}{% endblock %}
{% endblock %}
