{% load i18n %}
<div class="orpheus-media-info-top">
    <a href="{% url 'account_profile' media.user %}">
        <div class="orpheus-media-info-left">
            <div class="orpheus-profile-picture">
                <img src="{{ media.user.profile_picture_url }}" alt="avatar">
            </div>
            <div class="orpheus-profile-name">
                {{ media.user.full_name }}
            </div>
        </div>
    </a>
    <div class="orpheus-media-info-right">
        <div>
            {% include 'media_common/view-count-block.html' %}
        </div>
        <div>
            {% include 'media_common/voting-block.html' %}
        </div>
    </div>
</div>
<div class="orpheus-media-info-bottom">
    <div class="orpheus-media-description">
        <div class="orpheus-media-created">{% trans "Published" %}: {{ media.created.date }}</div>
        <div>{{ media.description }}</div>
    </div>
    <div class="orpheus-media-tags">
        {% trans "Tags" %}:
        {% for tag in media.tags.all %}
            <span class="orpheus-media-tag"><a href="{{ search_url }}?query={{ tag.name }}">{{ tag.name }}</a></span>
        {% empty %}
            <span class="orpheus-media-tag">{% trans "none" %}</span>
        {% endfor %}
    </div>
</div>
