{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">
            <button class="pure-button">&lsaquo;&lsaquo;</button>
        </a>
    {% else %}
        <span class="disabled prev">
            <button class="pure-button" disabled>&lsaquo;&lsaquo;</button>
        </span>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">
                    <button class="pure-button pure-button-active">{{ page }}</button>
                </span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">
                    <button class="pure-button ">{{ page }}</button>
                </a>
            {% endifequal %}
        {% else %}
            <span class="ellipses">...</span>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?{{ page_obj.next_page_number.querystring }}" class="next">
            <button class="pure-button">&rsaquo;&rsaquo;</button>
        </a>
    {% else %}
        <span class="disabled next">
            <button class="pure-button" disabled>&rsaquo;&rsaquo;</button>
        </span>
    {% endif %}
</div>
