<br>
<i class="orpheus-media-upvote fa fa-thumbs-up" aria-hidden="true"></i>
<span class="orpheus-media-upvote-count">{{ upvote_count }}</span>
&nbsp;
<i class="orpheus-media-downvote fa fa-thumbs-down" aria-hidden="true"></i>
<span class="orpheus-media-downvote-count">{{ downvote_count }}</span>
<br>
