.orpheus-album-playlist-container {
    padding: 0;
    margin-bottom: 0;
}

.song-link {
    cursor: pointer;
    padding: 1em;
    list-style: none;
    display:table;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.orpheus-album-song-link {
    width: calc(100% - 10em);
}

.song-link:hover {
    color: dodgerblue;
}

.selected-song {
    color: dodgerblue;
}

.orpheus-album-media-controls {
    text-align: right;
    display:table-cell;
    width: 14em;
    margin-top: -0.5em;
}
