.orpheus-media-upvote, .orpheus-media-downvote {
    color: darkgray;
    font-size: 2em;
    cursor: pointer;
}

.orpheus-upvote-active {
    color: limegreen;
}

.orpheus-downvote-active {
    color: darkred;
}

.orpheus-media-info-top {
    padding-top: 1em;
    height: 7em;
}

.orpheus-media-info-top > a,
.orpheus-media-info-top > a:visited {
    color: black;
}

.orpheus-media-info-left, .orpheus-media-info-right {
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

.orpheus-media-info-left {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.orpheus-profile-picture {
    float: left;
}

.orpheus-profile-picture > img {
    padding: 0.5em;
    height: 5em;
    width: 5em;
}

.orpheus-profile-name {
    padding-top: 2em;
    white-space: nowrap;overflow:hidden;
    text-overflow: ellipsis;
}



/* Pagination */

.pagination {
    display: table;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pagination > a {
    text-decoration: none;
}

.page, .ellipses {
    display: none;
}

.current {
    display: inline;
}

.orpheus-search-form {
    display: table;
    margin: 0 auto 2em auto;
    width: 95%;
}

.orpheus-search-form > button {
    width: 7em;
}

.orpheus-search-bar {
    width: calc(100% - 7.32em);
}

/*Two media blocks*/
@media only screen and (min-width: 40em) {
    .orpheus-search-form {
        width: 60%;
    }
}

/*Three media blocks*/
@media only screen and (min-width: 55em) {
    .orpheus-media-info-left {
        max-width: 70%;
        border: none;
    }
    .orpheus-media-info-right {
        width: 30%;
        text-align: right;
    }

    .page, .ellipses {
       display: inline;
    }
}

.jquery-comments .textarea-wrapper .textarea {
    border-color: gray !important;
}

.jquery-comments .textarea-wrapper::before {
    border-right-color: gray !important;
    border-top-color: gray !important;
}

.jquery-comments ul.navigation li:not(.active),
.jquery-comments [contentEditable="true"]:empty:not(:focus)::before,
.jquery-comments .no-data {
    color: gray !important;
}

.frontpage-load-more {
    display: table;
    margin: 1em auto;
}

.orpheus-media-info-bottom {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 1em 0 1em 0;
    float: left;
    width: 100%;
    margin-bottom: 2em;
}

.orpheus-media-description {
    margin-bottom: 1em;
}

.orpheus-media-tags {
    font-style: italic;
    color: gray;
}

.orpheus-media-tag > a {
    color: gray;
}

.orpheus-media-created {
    padding-bottom: 1em;
}