{% extends "videos/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_css %}
{% endblock %}

{% block page_js %}
        {% url 'videos:frontpage' 0 as video_list_url %}
        {% include 'media_common/frontpage-load-more.html' with media_list_url=video_list_url %}
{% endblock %}

{% block page_body %}
    <div class="orpheus-media-block-container">
        {% include 'videos/video-list.html' %}
    </div>
    <button class="pure-button frontpage-load-more">{% trans "Load more" %}</button>
{% endblock %}
