{% for video in all_videos %}
    <div class="orpheus-media-block orpheus-video-block">
        <a href="{% url 'videos:watch' video.id %}">
            <img src="{{ video.thumbnail_url }}" class="orpheus-media-block-thumbnail orpheus-video-block-thumbnail">
            <b>{{ video.title }}</b>
        </a>
        <br>
        <a href="{% url 'account_profile' video.user %}"><i>{{ video.user.full_name }}</i></a>
    </div>
{% endfor %}
