{% extends "videos/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{{ video.title }}{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'orpheus/addons/player/mediaelementplayer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'orpheus/addons/comments/jquery-comments.css' %}" />
    <link rel="stylesheet" href="{% static 'videos/css/watch.css' %}" />
{% endblock %}

{% block page_js %}
    <script src="{% static 'orpheus/addons/player/mediaelement-and-player.js' %}"></script>
    {% with video as media %}
        {% include 'media_common/voting-initialization.html' %}
        {% include 'media_common/comments-initialization.html' %}
    {% endwith %}
    <script src="{% static 'videos/js/watch.js' %}"></script>
{% endblock %}

{% block page_body %}
    <h1>{{ video.title }}</h1>
    {% if video.user == user or user.is_staff %}
        <a href="{% url 'videos:edit' video.id %}"><button class="pure-button">{% trans 'Edit video' %}</button></a>
        <a href="{% url 'videos:delete' video.id %}"><button class="pure-button">{% trans 'Delete video' %}</button></a>
        <br><br>
    {% endif %}
    <div class="orpheus-video-container">
        <video id="player" controls="controls" style="width:100%; height: 100%;">
            <source src="{{ video.source.url }}" type="video/mp4">
            {% if video.captions %}
                <track kind="subtitles" src="{{ video.captions.url }}" srclang="en" />
            {% endif %}
            <p>{% blocktrans %}Your browser does not support this video.{% endblocktrans %}</p>
        </video>
    </div>
    {% url 'videos:search' as search_url %}
    {% include 'media_common/media_info_box.html' with media=video search_url=search_url %}
    <div id="orpheus-comments-container"></div>
{% endblock %}
