/* Profile page css */

.orpheus-profile-fullname {
    font-size: 2em;
    font-weight: bold;
}

.orpheus-profile-username {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-style: italic;
}

.orpheus-profile-info {
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

.orpheus-profile-picture {
    margin: 0 2em 1.2em 0;
    float: left;
    width: 10em;
    height: 10em;
}

.orpheus-profile-picture > img {
    height: 100%;
    width: 100%;
}

.orpheus-profile-media-controls {
    display: block;
    padding-top: 0.5em;
}

.orpheus-profile-edit-controls {
    float: left;
}
